body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u0_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:520px;
  height:90px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:90px;
  width:510px;
  height:890px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:890px;
}
#u3 {
  position:absolute;
  left:2px;
  top:437px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:90px;
  width:510px;
  height:300px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:300px;
}
#u5 {
  position:absolute;
  left:2px;
  top:142px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:35px;
  top:122px;
  width:135px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#F2F2F2;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:20px;
  top:160px;
  width:490px;
  height:220px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:230px;
}
#u9 {
  position:absolute;
  left:2px;
  top:102px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:394px;
  top:125px;
  width:63px;
  height:25px;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-size:21px;
  color:#F2F2F2;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:178px;
  top:212px;
  width:175px;
  height:115px;
}
#u12_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:195px;
  height:135px;
}
#u13 {
  position:absolute;
  left:2px;
  top:50px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:342px;
  width:54px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:219px;
  top:342px;
  width:92px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:339px;
  top:342px;
  width:51px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:202px;
  top:350px;
  width:6px;
  height:6px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:322px;
  top:350px;
  width:6px;
  height:6px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:20px;
  top:480px;
  width:490px;
  height:475px;
}
#u24_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:510px;
  height:495px;
}
#u25 {
  position:absolute;
  left:2px;
  top:230px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:150px;
  top:614px;
  width:230px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u27 {
  position:absolute;
  left:186px;
  top:584px;
  width:159px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#BCBCBC;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:26px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:144px;
  top:872px;
  width:241px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#AEAEAE;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:260px;
  top:620px;
  width:10px;
  height:32px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u32 {
  position:absolute;
  left:150px;
  top:786px;
  width:230px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:226px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:400px;
  width:490px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:510px;
  height:90px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:486px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:149px;
  top:906px;
  width:231px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#AEAEAE;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:467px;
  top:126px;
  width:23px;
  height:23px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:339px;
  top:28px;
  width:75px;
  height:45px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
}
#u41 {
  position:absolute;
  left:2px;
  top:14px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:414px;
  top:28px;
  width:75px;
  height:45px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
}
#u43 {
  position:absolute;
  left:2px;
  top:14px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:436px;
  top:36px;
  width:30px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:409px;
  top:36px;
  width:10px;
  height:30px;
}
#u46_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u46_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u46_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u47 {
  position:absolute;
  left:390px;
  top:47px;
  width:7px;
  height:7px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:370px;
  top:44px;
  width:12px;
  height:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:356px;
  top:47px;
  width:7px;
  height:7px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:30px;
  top:32px;
  width:36px;
  height:36px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:76px;
  top:36px;
  width:43px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
