body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u1 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:90px;
  width:490px;
  height:125px;
}
#u2_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:510px;
  height:145px;
}
#u3 {
  position:absolute;
  left:2px;
  top:54px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:146px;
  top:131px;
  width:21px;
  height:44px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:37px;
  color:#0D0D0D;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:44px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:61px;
  top:117px;
  width:20px;
  height:72px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#0D0D0D;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:72px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:109px;
  top:131px;
  width:10px;
  height:44px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:27px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:44px;
}
#u9 {
  position:absolute;
  left:190px;
  top:131px;
  width:10px;
  height:44px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:27px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:44px;
}
#u10 {
  position:absolute;
  left:350px;
  top:131px;
  width:10px;
  height:44px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:27px;
  width:20px;
  height:18px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:44px;
}
#u11 {
  position:absolute;
  left:237px;
  top:129px;
  width:39px;
  height:48px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#0D0D0D;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:48px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:296px;
  top:131px;
  width:21px;
  height:44px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:37px;
  color:#0D0D0D;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:44px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:394px;
  top:129px;
  width:39px;
  height:48px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#0D0D0D;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:48px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:450px;
  top:131px;
  width:21px;
  height:44px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:37px;
  color:#0D0D0D;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:44px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:259px;
  top:511px;
  width:260px;
  height:60px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:259px;
  top:571px;
  width:260px;
  height:60px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:259px;
  top:631px;
  width:260px;
  height:60px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u24 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:259px;
  top:691px;
  width:260px;
  height:60px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u26 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:259px;
  top:751px;
  width:260px;
  height:60px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:259px;
  top:811px;
  width:260px;
  height:60px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u30 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:259px;
  top:871px;
  width:260px;
  height:60px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:11px;
  top:511px;
  width:248px;
  height:60px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:18px;
  width:244px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:11px;
  top:571px;
  width:248px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:18px;
  width:244px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:11px;
  top:631px;
  width:248px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#000000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u38 {
  position:absolute;
  left:2px;
  top:18px;
  width:244px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:11px;
  top:691px;
  width:248px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:18px;
  width:244px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:11px;
  top:751px;
  width:248px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#000000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:18px;
  width:244px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:11px;
  top:811px;
  width:248px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:18px;
  width:244px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:11px;
  top:871px;
  width:248px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u46 {
  position:absolute;
  left:2px;
  top:18px;
  width:244px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:10px;
  top:225px;
  width:510px;
  height:286px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:286px;
}
#u48 {
  position:absolute;
  left:2px;
  top:135px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:202px;
  top:254px;
  width:126px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:156px;
  top:290px;
  width:219px;
  height:44px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:37px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:44px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:247px;
  top:334px;
  width:35px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#0D0D0D;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:250px;
  top:380px;
  width:30px;
  height:10px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:143px;
  top:422px;
  width:244px;
  height:26px;
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:26px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:120px;
  top:454px;
  width:292px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:26px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
}
#u62 {
  position:absolute;
  left:2px;
  top:27px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:68px;
  top:30px;
  width:71px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:20px;
  top:25px;
  width:38px;
  height:38px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u66 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
