body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:816px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u1 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:91px;
  top:34px;
  width:107px;
  height:31px;
  font-size:26px;
  color:#FFAC2F;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:116px;
  top:202px;
  width:364px;
  height:90px;
  font-size:35px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:374px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:116px;
  top:292px;
  width:364px;
  height:35px;
  font-size:35px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:374px;
  height:45px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:203px;
  top:236px;
  width:71px;
  height:27px;
  font-size:23px;
  color:#FFEAEA;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:116px;
  top:175px;
  width:183px;
  height:20px;
  font-size:17px;
  color:#FFEAEA;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:116px;
  top:342px;
  width:364px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:175px;
  top:362px;
  width:240px;
  height:20px;
  font-size:17px;
  color:#FFEAEA;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:116px;
  top:412px;
  width:364px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:175px;
  top:432px;
  width:243px;
  height:20px;
  font-size:17px;
  color:#FFEAEA;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:116px;
  top:482px;
  width:364px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:175px;
  top:502px;
  width:243px;
  height:20px;
  font-size:17px;
  color:#FFEAEA;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:116px;
  top:552px;
  width:364px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:175px;
  top:572px;
  width:255px;
  height:20px;
  font-size:17px;
  color:#FFEAEA;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:116px;
  top:622px;
  width:364px;
  height:60px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:175px;
  top:642px;
  width:257px;
  height:20px;
  font-size:17px;
  color:#FFEAEA;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:116px;
  top:800px;
  width:364px;
  height:90px;
  font-size:35px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:374px;
  height:100px;
}
#u35 {
  position:absolute;
  left:2px;
  top:37px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:116px;
  top:890px;
  width:364px;
  height:35px;
  font-size:35px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:374px;
  height:45px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:203px;
  top:832px;
  width:210px;
  height:27px;
  font-size:23px;
  color:#FFEAEA;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:116px;
  top:773px;
  width:178px;
  height:20px;
  font-size:17px;
  color:#FFEAEA;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:106px;
  top:217px;
  width:10px;
  height:15px;
  font-size:35px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u43 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:106px;
  top:815px;
  width:10px;
  height:15px;
  font-size:35px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:116px;
  top:692px;
  width:364px;
  height:60px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:22px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:136px;
  top:712px;
  width:251px;
  height:20px;
  font-size:17px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:136px;
  top:300px;
  width:219px;
  height:19px;
  font-size:16px;
  color:#FF6600;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:136px;
  top:898px;
  width:219px;
  height:19px;
  font-size:16px;
  color:#FF6600;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:415px;
  top:28px;
  width:75px;
  height:45px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
}
#u55 {
  position:absolute;
  left:2px;
  top:14px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:340px;
  top:28px;
  width:75px;
  height:45px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
}
#u57 {
  position:absolute;
  left:2px;
  top:14px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:410px;
  top:36px;
  width:10px;
  height:30px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u59 {
  position:absolute;
  left:438px;
  top:36px;
  width:30px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:391px;
  top:47px;
  width:7px;
  height:7px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:372px;
  top:44px;
  width:12px;
  height:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:358px;
  top:47px;
  width:7px;
  height:7px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:10px;
  top:95px;
  width:510px;
  height:70px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
}
#u68 {
  position:absolute;
  left:2px;
  top:27px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:40px;
  top:31px;
  width:32px;
  height:38px;
}
#u69_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:42px;
  height:48px;
}
#u70 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:40px;
  top:108px;
  width:250px;
  height:45px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u72 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:55px;
  top:118px;
  width:195px;
  height:26px;
  font-size:21px;
  color:#FFFFFF;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:26px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:340px;
  top:108px;
  width:150px;
  height:45px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:160px;
  height:55px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:260px;
  top:120px;
  width:23px;
  height:23px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:40px;
  top:175px;
  width:60px;
  height:60px;
  font-size:35px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u80 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:54px;
  top:186px;
  width:32px;
  height:38px;
}
#u81_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:42px;
  height:48px;
}
#u82 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:136px;
  top:815px;
  width:50px;
  height:60px;
}
#u83_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:60px;
  height:70px;
}
#u84 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:136px;
  top:217px;
  width:50px;
  height:60px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u86 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:136px;
  top:357px;
  width:25px;
  height:30px;
}
#u87_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:35px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:136px;
  top:427px;
  width:25px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:35px;
  height:40px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:136px;
  top:497px;
  width:25px;
  height:30px;
}
#u91_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:35px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:136px;
  top:567px;
  width:25px;
  height:30px;
}
#u93_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:35px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:136px;
  top:637px;
  width:25px;
  height:30px;
}
#u95_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:35px;
  height:40px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:40px;
  top:773px;
  width:60px;
  height:60px;
  font-size:35px;
  color:#FFFFFF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u98 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:54px;
  top:784px;
  width:32px;
  height:38px;
}
#u99_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:42px;
  height:48px;
}
#u100 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u102 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:50px;
  top:210px;
  width:430px;
  height:550px;
  font-size:35px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:440px;
  height:560px;
}
#u104 {
  position:absolute;
  left:2px;
  top:267px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:50px;
  top:346px;
  width:430px;
  height:192px;
  font-size:35px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:-10px;
  top:-7px;
  width:450px;
  height:212px;
}
#u106 {
  position:absolute;
  left:2px;
  top:88px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:50px;
  top:210px;
  width:430px;
  height:230px;
  font-size:35px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:230px;
}
#u108 {
  position:absolute;
  left:2px;
  top:107px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:202px;
  top:388px;
  width:125px;
  height:92px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:92px;
}
#u110 {
  position:absolute;
  left:2px;
  top:38px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:202px;
  top:480px;
  width:125px;
  height:209px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:209px;
}
#u112 {
  position:absolute;
  left:2px;
  top:96px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:158px;
  top:506px;
  width:64px;
  height:209px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:209px;
}
#u114 {
  position:absolute;
  left:2px;
  top:96px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:308px;
  top:506px;
  width:64px;
  height:209px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:209px;
}
#u116 {
  position:absolute;
  left:2px;
  top:96px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:215px;
  top:270px;
  width:100px;
  height:100px;
}
#u117_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:110px;
  height:110px;
}
#u118 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:187px;
  top:429px;
  width:156px;
  height:34px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-size:26px;
  color:#FFDAA2;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:34px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:250px;
  top:700px;
  width:30px;
  height:45px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:45px;
}
#u122 {
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:170px;
  top:380px;
  width:190px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#FFDAA2;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:26px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:215px;
  top:480px;
  width:100px;
  height:100px;
  font-size:51px;
  color:#FF6600;
}
#u125_img {
  position:absolute;
  left:-10px;
  top:-7px;
  width:120px;
  height:120px;
}
#u126 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:240px;
  top:290px;
  width:50px;
  height:60px;
}
#u127_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:60px;
  height:70px;
}
#u128 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:592px;
  top:523px;
  width:124px;
  height:19px;
  font-size:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:337px;
  top:527px;
  width:245px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:228px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:245px;
  height:1px;
}
#u132 {
  position:absolute;
  left:678px;
  top:160px;
  width:138px;
  height:19px;
  font-size:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:423px;
  top:164px;
  width:245px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:228px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:245px;
  height:1px;
}
#u135 {
  position:absolute;
  left:118px;
  top:140px;
  width:295px;
  height:60px;
  font-size:17px;
  color:#FFFFFF;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:60px;
}
#u136 {
  position:absolute;
  left:2px;
  top:22px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:241px;
  top:829px;
  width:48px;
  height:48px;
}
#u137_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:58px;
  height:58px;
}
#u138 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:260px;
  top:780px;
  width:10px;
  height:49px;
}
#u139_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u139_end {
  position:absolute;
  left:-5px;
  top:32px;
  width:20px;
  height:18px;
}
#u139_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:49px;
}
#u140 {
  position:absolute;
  left:592px;
  top:494px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:678px;
  top:131px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
