body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u1 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:120px;
  width:230px;
  height:90px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
}
#u2_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:250px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:270px;
  top:120px;
  width:230px;
  height:90px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
}
#u4_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:250px;
  height:110px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:280px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:30px;
  top:242px;
  width:470px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u9 {
  position:absolute;
  left:30px;
  top:340px;
  width:230px;
  height:70px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:250px;
  height:90px;
}
#u10 {
  position:absolute;
  left:2px;
  top:22px;
  width:226px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:270px;
  top:420px;
  width:230px;
  height:70px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:250px;
  height:90px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:226px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:420px;
  width:230px;
  height:70px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:250px;
  height:90px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:226px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:270px;
  top:340px;
  width:230px;
  height:70px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:250px;
  height:90px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:226px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:30px;
  top:500px;
  width:230px;
  height:70px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:250px;
  height:90px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:226px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:344px;
  top:152px;
  width:26px;
  height:26px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u20 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:104px;
  top:152px;
  width:26px;
  height:26px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u22 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:140px;
  top:150px;
  width:47px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:29px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:380px;
  top:150px;
  width:47px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:29px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
}
#u28 {
  position:absolute;
  left:2px;
  top:27px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:68px;
  top:31px;
  width:47px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:29px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:20px;
  top:26px;
  width:38px;
  height:38px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
