@yz:registry=https://nexus.isecsp.com/repository/yuezhi-npm/
registry=https://registry.npm.taobao.org/
//nexus.isecsp.com/repository/yuezhi-npm/:_authToken=NpmToken.f5ede814-e906-3694-819c-3d757d5e9369