body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:990px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:990px;
  display:flex;
}
#u5975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#000000;
  text-align:center;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:133px;
  width:172px;
  height:28px;
  display:flex;
  font-size:21px;
  color:#000000;
  text-align:center;
}
#u5976 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:37px;
  color:#FF9900;
  text-align:center;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:190px;
  width:148px;
  height:42px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:37px;
  color:#FF9900;
  text-align:center;
}
#u5977 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5977_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:235px;
  width:26px;
  height:24px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u5978 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5978_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:319px;
  width:30px;
  height:10px;
  display:flex;
}
#u5979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:363px;
  width:208px;
  height:25px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u5980 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:408px;
  width:118px;
  height:31px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u5981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5981_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:439px;
  width:26px;
  height:24px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u5982 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5982_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:723px;
  width:172px;
  height:25px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u5983 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5983_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:495px;
  width:30px;
  height:10px;
  display:flex;
}
#u5984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:672px;
  width:30px;
  height:10px;
  display:flex;
}
#u5985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:540px;
  width:171px;
  height:25px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u5986 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5986_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:587px;
  width:118px;
  height:31px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u5987 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5987_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:618px;
  width:26px;
  height:24px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u5988 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5988_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
  background:inherit;
  background-color:rgba(236, 236, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
  display:flex;
}
#u5989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:29px;
  width:160px;
  height:31px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u5990 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5990_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:38px;
  height:38px;
  display:flex;
}
#u5991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:757px;
  width:303px;
  height:25px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u5992 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5992_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:791px;
  width:370px;
  height:25px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u5993 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5993_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#FF9900;
  text-align:center;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:269px;
  width:299px;
  height:28px;
  display:flex;
  font-size:21px;
  color:#FF9900;
  text-align:center;
}
#u5994 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5994_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:29px;
  width:30px;
  height:30px;
  display:flex;
}
#u5995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
