body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1277px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u1 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:300px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:300px;
}
#u3 {
  position:absolute;
  left:2px;
  top:142px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:35px;
  top:42px;
  width:135px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#F2F2F2;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:80px;
  width:490px;
  height:220px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:230px;
}
#u7 {
  position:absolute;
  left:2px;
  top:102px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:394px;
  top:45px;
  width:63px;
  height:25px;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-size:21px;
  color:#F2F2F2;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:178px;
  top:132px;
  width:175px;
  height:115px;
}
#u10_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:195px;
  height:135px;
}
#u11 {
  position:absolute;
  left:2px;
  top:50px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:140px;
  top:262px;
  width:54px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:219px;
  top:262px;
  width:92px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:339px;
  top:262px;
  width:51px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:202px;
  top:270px;
  width:6px;
  height:6px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:322px;
  top:270px;
  width:6px;
  height:6px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:20px;
  top:400px;
  width:490px;
  height:475px;
}
#u22_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:510px;
  height:495px;
}
#u23 {
  position:absolute;
  left:2px;
  top:230px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:150px;
  top:534px;
  width:230px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u25 {
  position:absolute;
  left:162px;
  top:504px;
  width:208px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:144px;
  top:792px;
  width:241px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#AEAEAE;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:260px;
  top:540px;
  width:10px;
  height:32px;
}
#u29_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u29_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:18px;
}
#u29_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u30 {
  position:absolute;
  left:150px;
  top:706px;
  width:230px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:16px;
  width:226px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:20px;
  top:320px;
  width:490px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:510px;
  height:90px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:486px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:149px;
  top:826px;
  width:231px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#AEAEAE;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:187px;
  top:47px;
  width:23px;
  height:23px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:467px;
  top:46px;
  width:23px;
  height:23px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:204px;
  top:582px;
  width:123px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:168px;
  top:630px;
  width:192px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#AEAEAE;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:24px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:120px;
  top:664px;
  width:289px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#AEAEAE;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:570px;
  top:10px;
  width:510px;
  height:950px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u47 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:570px;
  top:885px;
  width:510px;
  height:75px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:75px;
}
#u49 {
  position:absolute;
  left:2px;
  top:30px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:999px;
  top:896px;
  width:35px;
  height:35px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:872px;
  top:896px;
  width:35px;
  height:35px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1001px;
  top:930px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#BCBCBC;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:874px;
  top:930px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#BCBCBC;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:625px;
  top:930px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#BCBCBC;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:41px;
  height:29px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:623px;
  top:896px;
  width:35px;
  height:35px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u61 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:730px;
  top:905px;
  width:50px;
  height:35px;
}
#u62_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:70px;
  height:55px;
}
#u63 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:570px;
  top:10px;
  width:510px;
  height:300px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:300px;
}
#u65 {
  position:absolute;
  left:2px;
  top:142px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:595px;
  top:42px;
  width:135px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#F2F2F2;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:28px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:580px;
  top:80px;
  width:490px;
  height:220px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:230px;
}
#u69 {
  position:absolute;
  left:2px;
  top:102px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:954px;
  top:45px;
  width:63px;
  height:25px;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-size:21px;
  color:#F2F2F2;
  text-align:right;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:738px;
  top:132px;
  width:175px;
  height:115px;
}
#u72_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:195px;
  height:135px;
}
#u73 {
  position:absolute;
  left:2px;
  top:50px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:700px;
  top:262px;
  width:54px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:779px;
  top:262px;
  width:92px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:899px;
  top:262px;
  width:51px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:762px;
  top:270px;
  width:6px;
  height:6px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u81 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:882px;
  top:270px;
  width:6px;
  height:6px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u83 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:580px;
  top:400px;
  width:490px;
  height:475px;
}
#u84_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:510px;
  height:495px;
}
#u85 {
  position:absolute;
  left:2px;
  top:230px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:710px;
  top:534px;
  width:230px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u87 {
  position:absolute;
  left:722px;
  top:504px;
  width:208px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:704px;
  top:792px;
  width:241px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#AEAEAE;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:820px;
  top:540px;
  width:10px;
  height:32px;
}
#u91_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u91_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:18px;
}
#u91_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u92 {
  position:absolute;
  left:710px;
  top:706px;
  width:230px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u93 {
  position:absolute;
  left:2px;
  top:16px;
  width:226px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:580px;
  top:320px;
  width:490px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u94_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:510px;
  height:90px;
}
#u95 {
  position:absolute;
  left:2px;
  top:22px;
  width:486px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:709px;
  top:826px;
  width:231px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#AEAEAE;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:24px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:747px;
  top:47px;
  width:23px;
  height:23px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u99 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1027px;
  top:46px;
  width:23px;
  height:23px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u101 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:699px;
  top:582px;
  width:251px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:26px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:10px;
  top:885px;
  width:510px;
  height:75px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:75px;
}
#u105 {
  position:absolute;
  left:2px;
  top:30px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:439px;
  top:896px;
  width:35px;
  height:35px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:312px;
  top:896px;
  width:35px;
  height:35px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:441px;
  top:930px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#BCBCBC;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:314px;
  top:930px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#BCBCBC;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:65px;
  top:930px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#BCBCBC;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:41px;
  height:29px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:63px;
  top:896px;
  width:35px;
  height:35px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:170px;
  top:905px;
  width:50px;
  height:35px;
}
#u118_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:70px;
  height:55px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:817px;
  top:1372px;
  width:460px;
  height:208px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u120_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:228px;
}
#u121 {
  position:absolute;
  left:2px;
  top:96px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:866px;
  top:1458px;
  width:234px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#FF9900;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:28px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:866px;
  top:1408px;
  width:163px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:29px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:1065px;
  top:1524px;
  width:47px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#006699;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:29px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:1181px;
  top:1524px;
  width:47px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#006699;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:29px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
