body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:995px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:995px;
}
#u1 {
  position:absolute;
  left:2px;
  top:490px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:300px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:300px;
}
#u3 {
  position:absolute;
  left:2px;
  top:142px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:35px;
  top:42px;
  width:135px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#F2F2F2;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:331px;
  top:45px;
  width:126px;
  height:25px;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-size:21px;
  color:#F2F2F2;
  text-align:right;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:178px;
  top:132px;
  width:175px;
  height:115px;
}
#u8_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:195px;
  height:135px;
}
#u9 {
  position:absolute;
  left:2px;
  top:50px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:140px;
  top:262px;
  width:54px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:219px;
  top:262px;
  width:92px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:339px;
  top:262px;
  width:51px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:202px;
  top:270px;
  width:6px;
  height:6px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:322px;
  top:270px;
  width:6px;
  height:6px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:187px;
  top:47px;
  width:23px;
  height:23px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:467px;
  top:46px;
  width:23px;
  height:23px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:20px;
  top:80px;
  width:490px;
  height:220px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:230px;
}
#u25 {
  position:absolute;
  left:2px;
  top:102px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:690px;
  width:490px;
  height:125px;
}
#u26_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:510px;
  height:145px;
}
#u27 {
  position:absolute;
  left:2px;
  top:54px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:384px;
  top:740px;
  width:95px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#FF9900;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:250px;
  top:778px;
  width:31px;
  height:20px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#0D0D0D;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:178px;
  top:728px;
  width:10px;
  height:50px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u33 {
  position:absolute;
  left:55px;
  top:740px;
  width:87px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#FF9900;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:48px;
  top:708px;
  width:99px;
  height:22px;
  font-size:17px;
  color:#0D0D0D;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:342px;
  top:728px;
  width:10px;
  height:50px;
}
#u37_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u37_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u37_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u38 {
  position:absolute;
  left:209px;
  top:708px;
  width:111px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:210px;
  top:740px;
  width:108px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#FF9900;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:418px;
  top:778px;
  width:31px;
  height:20px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#0D0D0D;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:363px;
  top:708px;
  width:138px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:72px;
  top:776px;
  width:51px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#0D0D0D;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:20px;
  top:480px;
  width:240px;
  height:95px;
}
#u48_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:260px;
  height:115px;
}
#u49 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:72px;
  top:518px;
  width:140px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:96px;
  top:492px;
  width:85px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#0D0D0D;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:124px;
  top:547px;
  width:31px;
  height:20px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#0D0D0D;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:270px;
  top:480px;
  width:240px;
  height:95px;
}
#u56_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:260px;
  height:115px;
}
#u57 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:356px;
  top:492px;
  width:68px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#0D0D0D;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:325px;
  top:518px;
  width:129px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:374px;
  top:547px;
  width:31px;
  height:20px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#0D0D0D;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:20px;
  top:400px;
  width:240px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u64_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:260px;
  height:90px;
}
#u65 {
  position:absolute;
  left:2px;
  top:23px;
  width:236px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:270px;
  top:400px;
  width:240px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:260px;
  height:90px;
}
#u67 {
  position:absolute;
  left:2px;
  top:23px;
  width:236px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:20px;
  top:825px;
  width:156px;
  height:95px;
}
#u68_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:176px;
  height:115px;
}
#u69 {
  position:absolute;
  left:2px;
  top:40px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:354px;
  top:825px;
  width:156px;
  height:95px;
}
#u70_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:176px;
  height:115px;
}
#u71 {
  position:absolute;
  left:2px;
  top:40px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:186px;
  top:825px;
  width:157px;
  height:95px;
}
#u72_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:177px;
  height:115px;
}
#u73 {
  position:absolute;
  left:2px;
  top:40px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:44px;
  top:864px;
  width:108px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:210px;
  top:864px;
  width:108px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:386px;
  top:864px;
  width:95px;
  height:28px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:56px;
  top:840px;
  width:85px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#0D0D0D;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:204px;
  top:840px;
  width:119px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#0D0D0D;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:380px;
  top:840px;
  width:106px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#0D0D0D;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:82px;
  top:894px;
  width:31px;
  height:20px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#0D0D0D;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:248px;
  top:895px;
  width:31px;
  height:20px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#0D0D0D;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:415px;
  top:895px;
  width:31px;
  height:20px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#0D0D0D;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:20px;
  top:320px;
  width:156px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u92_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:176px;
  height:90px;
}
#u93 {
  position:absolute;
  left:2px;
  top:23px;
  width:152px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:354px;
  top:320px;
  width:156px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u94_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:176px;
  height:90px;
}
#u95 {
  position:absolute;
  left:2px;
  top:23px;
  width:152px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:20px;
  top:585px;
  width:240px;
  height:95px;
}
#u96_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:260px;
  height:115px;
}
#u97 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:82px;
  top:623px;
  width:118px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:96px;
  top:597px;
  width:85px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#0D0D0D;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:124px;
  top:652px;
  width:31px;
  height:20px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#0D0D0D;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:270px;
  top:585px;
  width:240px;
  height:95px;
}
#u104_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:260px;
  height:115px;
}
#u105 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:356px;
  top:597px;
  width:68px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#0D0D0D;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:332px;
  top:623px;
  width:118px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:374px;
  top:652px;
  width:31px;
  height:20px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#0D0D0D;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:10px;
  top:930px;
  width:510px;
  height:75px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:75px;
}
#u113 {
  position:absolute;
  left:2px;
  top:30px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:438px;
  top:941px;
  width:35px;
  height:35px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:312px;
  top:941px;
  width:35px;
  height:35px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:440px;
  top:975px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#BCBCBC;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:314px;
  top:975px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#BCBCBC;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:64px;
  top:975px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#BCBCBC;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:41px;
  height:29px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:62px;
  top:941px;
  width:35px;
  height:35px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:170px;
  top:950px;
  width:50px;
  height:35px;
}
#u126_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:70px;
  height:55px;
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:186px;
  top:320px;
  width:157px;
  height:70px;
  font-size:19px;
  color:#000000;
}
#u128_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:177px;
  height:90px;
}
#u129 {
  position:absolute;
  left:2px;
  top:23px;
  width:153px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:190px;
  top:114px;
  width:150px;
  height:150px;
  font-size:23px;
  color:#FFFFFF;
}
#u130_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:170px;
  height:170px;
}
#u131 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:201px;
  top:125px;
  width:128px;
  height:128px;
  font-size:23px;
  color:#FFFFFF;
}
#u132_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:148px;
  height:148px;
}
#u133 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:212px;
  top:136px;
  width:106px;
  height:106px;
  font-size:19px;
  color:#FF9900;
}
#u134_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:126px;
  height:126px;
}
#u135 {
  position:absolute;
  left:2px;
  top:42px;
  width:102px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:63px;
  top:125px;
  width:125px;
  height:35px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
}
#u136_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:145px;
  height:55px;
}
#u137 {
  position:absolute;
  left:2px;
  top:-6px;
  width:121px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:340px;
  top:227px;
  width:125px;
  height:35px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
}
#u138_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:145px;
  height:55px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-6px;
  width:121px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:43px;
  top:194px;
  width:125px;
  height:35px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
}
#u140_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:145px;
  height:55px;
}
#u141 {
  position:absolute;
  left:2px;
  top:-6px;
  width:121px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:363px;
  top:142px;
  width:125px;
  height:35px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
}
#u142_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:145px;
  height:55px;
}
#u143 {
  position:absolute;
  left:2px;
  top:-6px;
  width:121px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:244px;
  top:205px;
  width:43px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#FFC671;
  text-align:center;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:368px;
  top:205px;
  width:68px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#FF9900;
  text-align:center;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:72px;
  top:172px;
  width:68px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#FF9900;
  text-align:center;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:92px;
  top:103px;
  width:68px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#FF9900;
  text-align:center;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:392px;
  top:120px;
  width:68px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#FF9900;
  text-align:center;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:214px;
  top:270px;
  width:102px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
