body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u1 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:35px;
  top:107px;
  width:460px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:68px;
  top:128px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:410px;
  top:127px;
  width:60px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:440px;
  top:127px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:35px;
  top:230px;
  width:460px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:35px;
  top:310px;
  width:460px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u13 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:35px;
  top:390px;
  width:460px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:68px;
  top:252px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:68px;
  top:332px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:68px;
  top:412px;
  width:167px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:26px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:410px;
  top:330px;
  width:60px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:440px;
  top:330px;
  width:30px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:410px;
  top:410px;
  width:60px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:440px;
  top:410px;
  width:30px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:447px;
  top:254px;
  width:23px;
  height:23px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
}
#u33 {
  position:absolute;
  left:2px;
  top:27px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:68px;
  top:30px;
  width:47px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:29px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:20px;
  top:25px;
  width:38px;
  height:38px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u37 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
