body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u1 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:68px;
  top:30px;
  width:117px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:25px;
  width:38px;
  height:38px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:169px;
  top:110px;
  width:43px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#FF9900;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:182px;
  top:137px;
  width:17px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:4px;
  width:17px;
  height:3px;
}
#u11 {
  position:absolute;
  left:318px;
  top:110px;
  width:43px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#AEAEAE;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:35px;
  top:350px;
  width:460px;
  height:70px;
}
#u13_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u14 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:68px;
  top:316px;
  width:40px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:35px;
  top:480px;
  width:460px;
  height:70px;
}
#u17_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u18 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:68px;
  top:446px;
  width:38px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:68px;
  top:372px;
  width:183px;
  height:26px;
  font-size:21px;
  color:#C9C9C9;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:26px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:68px;
  top:502px;
  width:183px;
  height:26px;
  font-size:21px;
  color:#C9C9C9;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:26px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:427px;
  top:374px;
  width:39px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:427px;
  top:504px;
  width:39px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:35px;
  top:840px;
  width:460px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u30 {
  position:absolute;
  left:2px;
  top:20px;
  width:456px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:68px;
  top:710px;
  width:404px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:68px;
  top:744px;
  width:404px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:24px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:68px;
  top:778px;
  width:366px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:35px;
  top:214px;
  width:460px;
  height:70px;
}
#u37_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u38 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:68px;
  top:236px;
  width:147px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#C9C9C9;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:26px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:68px;
  top:177px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:35px;
  top:600px;
  width:460px;
  height:70px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:70px;
}
#u44 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:63px;
  top:622px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:408px;
  top:620px;
  width:60px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:408px;
  top:620px;
  width:30px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:570px;
  top:10px;
  width:510px;
  height:950px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u52 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:570px;
  top:10px;
  width:510px;
  height:70px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
}
#u54 {
  position:absolute;
  left:2px;
  top:27px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:628px;
  top:30px;
  width:117px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:580px;
  top:25px;
  width:38px;
  height:38px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u58 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:729px;
  top:110px;
  width:43px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#FF9900;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:742px;
  top:137px;
  width:17px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:4px;
  width:17px;
  height:3px;
}
#u62 {
  position:absolute;
  left:878px;
  top:110px;
  width:43px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#AEAEAE;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:595px;
  top:350px;
  width:460px;
  height:70px;
}
#u64_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u65 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:628px;
  top:316px;
  width:40px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:595px;
  top:480px;
  width:460px;
  height:70px;
}
#u68_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u69 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:628px;
  top:446px;
  width:38px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:628px;
  top:372px;
  width:28px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:628px;
  top:502px;
  width:28px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:987px;
  top:374px;
  width:39px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:987px;
  top:504px;
  width:39px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:595px;
  top:840px;
  width:460px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u81 {
  position:absolute;
  left:2px;
  top:20px;
  width:456px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:628px;
  top:710px;
  width:404px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:24px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:628px;
  top:744px;
  width:404px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:24px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:628px;
  top:778px;
  width:366px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:24px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:595px;
  top:214px;
  width:460px;
  height:70px;
}
#u88_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u89 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:628px;
  top:236px;
  width:123px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:628px;
  top:177px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:595px;
  top:600px;
  width:460px;
  height:70px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:70px;
}
#u95 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:623px;
  top:622px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:968px;
  top:620px;
  width:60px;
  height:30px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:968px;
  top:620px;
  width:30px;
  height:30px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1130px;
  top:10px;
  width:510px;
  height:950px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u103 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1130px;
  top:10px;
  width:510px;
  height:70px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
}
#u105 {
  position:absolute;
  left:2px;
  top:27px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1188px;
  top:30px;
  width:117px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:1140px;
  top:25px;
  width:38px;
  height:38px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u109 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:1289px;
  top:110px;
  width:43px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#FF9900;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:1302px;
  top:137px;
  width:17px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:4px;
  width:17px;
  height:3px;
}
#u113 {
  position:absolute;
  left:1438px;
  top:110px;
  width:43px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#AEAEAE;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:1155px;
  top:350px;
  width:460px;
  height:70px;
}
#u115_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u116 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1188px;
  top:316px;
  width:40px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:1155px;
  top:480px;
  width:460px;
  height:70px;
}
#u119_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u120 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1188px;
  top:446px;
  width:38px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:1188px;
  top:372px;
  width:28px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:1188px;
  top:502px;
  width:28px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:1547px;
  top:374px;
  width:39px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:1547px;
  top:504px;
  width:39px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:1155px;
  top:840px;
  width:460px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#FFFFFF;
}
#u131_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u132 {
  position:absolute;
  left:2px;
  top:20px;
  width:456px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1188px;
  top:710px;
  width:404px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:24px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:1188px;
  top:744px;
  width:404px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:24px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:1188px;
  top:778px;
  width:366px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:24px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:1155px;
  top:214px;
  width:460px;
  height:70px;
}
#u139_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:480px;
  height:90px;
}
#u140 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1188px;
  top:236px;
  width:123px;
  height:25px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  color:#000000;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:1188px;
  top:177px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:1155px;
  top:600px;
  width:460px;
  height:70px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:70px;
}
#u146 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:1183px;
  top:622px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:1528px;
  top:620px;
  width:60px;
  height:30px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:1558px;
  top:620px;
  width:30px;
  height:30px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
