body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:500px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u9781 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:320px;
  width:510px;
  height:500px;
  display:flex;
}
#u9781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:210px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9782 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:377px;
  width:450px;
  height:210px;
  display:flex;
}
#u9782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:62px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9783 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:355px;
  width:180px;
  height:62px;
  display:flex;
}
#u9783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:rgba(148, 148, 148, 0.109803921568627);
  text-align:center;
}
#u9784 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:363px;
  width:135px;
  height:59px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:rgba(148, 148, 148, 0.109803921568627);
  text-align:center;
}
#u9784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF9900;
  text-align:center;
}
#u9785 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:363px;
  width:108px;
  height:48px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF9900;
  text-align:center;
}
#u9785 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9785_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:35px;
  color:#FF9900;
  text-align:center;
}
#u9786 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:499px;
  width:230px;
  height:40px;
  display:flex;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:35px;
  color:#FF9900;
  text-align:center;
}
#u9786 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9786_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:center;
}
#u9787 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:429px;
  width:82px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:center;
}
#u9787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9787_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
  text-align:center;
}
#u9788 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:470px;
  width:70px;
  height:28px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
  text-align:center;
}
#u9788 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9788_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
  text-align:center;
}
#u9789 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:546px;
  width:27px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
  text-align:center;
}
#u9789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
  text-align:center;
}
#u9790 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:679px;
  width:126px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
  text-align:center;
}
#u9790 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9790_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#E4E4E4;
}
#u9792 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:619px;
  width:50px;
  height:50px;
  display:flex;
  font-size:21px;
  color:#E4E4E4;
}
#u9792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u9793 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:633px;
  width:21px;
  height:21px;
  display:flex;
}
#u9793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  color:#FF9900;
}
#u9794 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:619px;
  width:115px;
  height:50px;
  display:flex;
  font-size:23px;
  color:#FF9900;
}
#u9794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#E4E4E4;
}
#u9795 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:619px;
  width:185px;
  height:50px;
  display:flex;
  font-size:21px;
  color:#E4E4E4;
}
#u9795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  color:#949494;
}
#u9796 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:619px;
  width:50px;
  height:50px;
  display:flex;
  font-size:23px;
  color:#949494;
}
#u9796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  color:#FF9900;
}
#u9797 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:619px;
  width:50px;
  height:50px;
  display:flex;
  font-size:23px;
  color:#FF9900;
}
#u9797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:70px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FF9900;
}
#u9798 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:710px;
  width:215px;
  height:70px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FF9900;
}
#u9798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:70px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FF9900;
}
#u9799 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:710px;
  width:215px;
  height:70px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FF9900;
}
#u9799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9800 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:80px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u9801 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:31px;
  width:38px;
  height:38px;
  display:flex;
}
#u9801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9900;
}
#u9802 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:33px;
  width:84px;
  height:32px;
  display:flex;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9900;
}
#u9802 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9802_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9804 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:28px;
  width:75px;
  height:45px;
  display:flex;
}
#u9804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9805 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:28px;
  width:75px;
  height:45px;
  display:flex;
}
#u9805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9806 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:36px;
  width:30px;
  height:30px;
  display:flex;
}
#u9806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u9807 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:36px;
  width:1px;
  height:30px;
  display:flex;
}
#u9807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:140px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9808 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:820px;
  width:510px;
  height:140px;
  display:flex;
}
#u9808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:70px;
  background:inherit;
  background-color:rgba(52, 52, 52, 1);
  border:none;
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#5E5E5E;
}
#u9809 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:830px;
  width:245px;
  height:70px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#5E5E5E;
}
#u9809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:60px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9810 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:900px;
  width:510px;
  height:60px;
  display:flex;
}
#u9810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#BCBCBC;
}
#u9811 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:924px;
  width:70px;
  height:25px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#BCBCBC;
}
#u9811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FF9900;
  text-align:center;
}
#u9812 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:923px;
  width:251px;
  height:25px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FF9900;
  text-align:center;
}
#u9812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u9813 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:924px;
  width:23px;
  height:23px;
  display:flex;
}
#u9813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:70px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FF9900;
}
#u9814 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:830px;
  width:245px;
  height:70px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FF9900;
}
#u9814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u9816 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:48px;
  width:7px;
  height:7px;
  display:flex;
}
#u9816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9817 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:44px;
  width:12px;
  height:12px;
  display:flex;
}
#u9817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u9818 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:48px;
  width:7px;
  height:7px;
  display:flex;
}
#u9818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9819 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
  display:flex;
}
#u9819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9823 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:779px;
  width:508px;
  height:80px;
  display:flex;
}
#u9823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u9825 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:809px;
  width:30px;
  height:20px;
  display:flex;
}
#u9825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(13, 13, 13, 0.368627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9826 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:809px;
  width:30px;
  height:20px;
  display:flex;
}
#u9826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u9827 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:809px;
  width:30px;
  height:20px;
  display:flex;
}
#u9827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FF9900;
}
#u9828 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:805px;
  width:135px;
  height:27px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FF9900;
}
#u9828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9829 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:859px;
  width:508px;
  height:100px;
  display:flex;
}
#u9829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u9830 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:801px;
  width:35px;
  height:35px;
  display:flex;
}
#u9830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FF9900;
}
#u9831 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:886px;
  width:42px;
  height:28px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FF9900;
}
#u9831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u9832 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:882px;
  width:35px;
  height:35px;
  display:flex;
}
#u9832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9833 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:804px;
  width:30px;
  height:30px;
  display:flex;
}
#u9833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:230px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:17px;
  color:#FF9900;
}
#u9834 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:90px;
  width:510px;
  height:230px;
  display:flex;
  font-size:17px;
  color:#FF9900;
}
#u9834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
}
#u9835 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:102px;
  width:85px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
}
#u9835 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9835_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
}
#u9836 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:132px;
  width:85px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
}
#u9836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9836_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
}
#u9837 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:162px;
  width:85px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
}
#u9837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9838 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:162px;
  width:90px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9839 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:132px;
  width:90px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9839 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9839_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9840 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:102px;
  width:90px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9840 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9840_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
}
#u9841 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:192px;
  width:85px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
}
#u9841 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9841_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
}
#u9842 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:222px;
  width:85px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
}
#u9842 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9842_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
}
#u9843 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:252px;
  width:85px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
}
#u9843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9844 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:252px;
  width:90px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9844_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9845 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:222px;
  width:90px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9846 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:192px;
  width:90px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
}
#u9847 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:284px;
  width:85px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
}
#u9847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9847_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9848 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:284px;
  width:90px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9848 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9848_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:right;
}
#u9849 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:102px;
  width:231px;
  height:22px;
  display:flex;
  font-size:19px;
  text-align:right;
}
#u9849 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9849_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:right;
}
#u9850 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:132px;
  width:230px;
  height:22px;
  display:flex;
  font-size:19px;
  text-align:right;
}
#u9850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9851 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:162px;
  width:221px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:right;
}
#u9852 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:192px;
  width:223px;
  height:22px;
  display:flex;
  font-size:19px;
  text-align:right;
}
#u9852 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9853 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:222px;
  width:229px;
  height:22px;
  display:flex;
  font-size:19px;
  color:#BCBCBC;
  text-align:right;
}
#u9853 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9853_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:right;
}
#u9854 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:252px;
  width:225px;
  height:22px;
  display:flex;
  font-size:19px;
  text-align:right;
}
#u9854 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9854_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:right;
}
#u9855 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:284px;
  width:223px;
  height:22px;
  display:flex;
  font-size:19px;
  text-align:right;
}
#u9855 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9855_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
