body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u11138 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
  display:flex;
  color:#BCBCBC;
}
#u11138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#FF9900;
}
#u11139 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:110px;
  width:124px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#FF9900;
}
#u11139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11140 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u11141 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:27px;
  width:36px;
  height:36px;
  display:flex;
}
#u11141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u11142 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:30px;
  width:92px;
  height:31px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u11142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11145 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u11145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11146 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u11146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11147 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:30px;
  width:30px;
  height:30px;
  display:flex;
}
#u11147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u11148 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:30px;
  width:1px;
  height:30px;
  display:flex;
}
#u11148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u11150 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u11150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11151 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:38px;
  width:12px;
  height:12px;
  display:flex;
}
#u11151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u11152 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u11152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11153 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:145px;
  width:152px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11154 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:180px;
  width:332px;
  height:28px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11154_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
}
#u11155 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:660px;
  width:68px;
  height:24px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
}
#u11155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11156 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:500px;
  width:159px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11156_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11157 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:535px;
  width:170px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11157_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11158 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:610px;
  width:168px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11158 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11158_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
}
#u11159 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:660px;
  width:68px;
  height:24px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
}
#u11159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11159_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11160 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:250px;
  width:318px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11160_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
}
#u11161 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:355px;
  width:84px;
  height:28px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
}
#u11161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11161_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11162 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:392px;
  width:396px;
  height:28px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11162 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11162_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
}
#u11163 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:285px;
  width:409px;
  height:24px;
  display:flex;
  font-size:21px;
}
#u11163 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11163_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11164 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:320px;
  width:99px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11164 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11164_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
}
#u11165 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:429px;
  width:220px;
  height:28px;
  display:flex;
  font-size:21px;
}
#u11165 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11165_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11166 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:715px;
  width:63px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11166 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11166_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
