body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1039px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:50px;
  width:160px;
  height:90px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:220px;
  top:140px;
  width:0px;
  height:60px;
}
#u2_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u3 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:140px;
  top:200px;
  width:160px;
  height:90px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:220px;
  top:290px;
  width:0px;
  height:60px;
}
#u6_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u7 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:140px;
  top:350px;
  width:160px;
  height:90px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:140px;
  top:500px;
  width:160px;
  height:90px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:220px;
  top:590px;
  width:0px;
  height:60px;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:650px;
  width:160px;
  height:90px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:220px;
  top:440px;
  width:0px;
  height:60px;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:140px;
  top:800px;
  width:160px;
  height:90px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:220px;
  top:740px;
  width:0px;
  height:60px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:220px;
  top:890px;
  width:0px;
  height:60px;
}
#u22_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u23 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:140px;
  top:950px;
  width:160px;
  height:90px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:448px;
  top:87px;
  width:591px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  white-space:nowrap;
}
