body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u1 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:75px;
  top:250px;
  width:155px;
  height:230px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:230px;
}
#u3 {
  position:absolute;
  left:2px;
  top:107px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:220px;
  top:700px;
  width:300px;
  height:205px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:205px;
}
#u5 {
  position:absolute;
  left:2px;
  top:94px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:312px;
  top:80px;
  width:84px;
  height:125px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:125px;
}
#u7 {
  position:absolute;
  left:2px;
  top:54px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:330px;
  width:50px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u9 {
  position:absolute;
  left:260px;
  top:360px;
  width:10px;
  height:45px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u10 {
  position:absolute;
  left:212px;
  top:415px;
  width:105px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#6B6B6B;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:150px;
  top:330px;
  width:50px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u13 {
  position:absolute;
  left:210px;
  top:330px;
  width:50px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u14 {
  position:absolute;
  left:270px;
  top:330px;
  width:50px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u15 {
  position:absolute;
  left:330px;
  top:330px;
  width:50px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u16 {
  position:absolute;
  left:390px;
  top:330px;
  width:50px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u17 {
  position:absolute;
  left:226px;
  top:490px;
  width:78px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#006699;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:590px;
  top:10px;
  width:510px;
  height:950px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u20 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:655px;
  top:250px;
  width:155px;
  height:230px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:230px;
}
#u22 {
  position:absolute;
  left:2px;
  top:107px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:800px;
  top:700px;
  width:300px;
  height:205px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:205px;
}
#u24 {
  position:absolute;
  left:2px;
  top:94px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:892px;
  top:80px;
  width:84px;
  height:125px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:125px;
}
#u26 {
  position:absolute;
  left:2px;
  top:54px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:670px;
  top:330px;
  width:50px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u28 {
  position:absolute;
  left:840px;
  top:360px;
  width:10px;
  height:45px;
}
#u28_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u28_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u28_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u29 {
  position:absolute;
  left:792px;
  top:415px;
  width:105px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#6B6B6B;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:730px;
  top:330px;
  width:50px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u32 {
  position:absolute;
  left:790px;
  top:330px;
  width:50px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u33 {
  position:absolute;
  left:850px;
  top:330px;
  width:50px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u34 {
  position:absolute;
  left:910px;
  top:330px;
  width:50px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u35 {
  position:absolute;
  left:970px;
  top:330px;
  width:50px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u36 {
  position:absolute;
  left:806px;
  top:490px;
  width:78px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#006699;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:840px;
  top:524px;
  width:10px;
  height:45px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u39 {
  position:absolute;
  left:830px;
  top:579px;
  width:32px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#6B6B6B;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
