body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u1 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:155px;
  width:450px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:264px;
  width:450px;
  height:70px;
  font-size:23px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:446px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:68px;
  top:30px;
  width:47px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:29px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:20px;
  top:25px;
  width:38px;
  height:38px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:68px;
  top:177px;
  width:179px;
  height:26px;
  font-size:21px;
  color:#C9C9C9;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:259px;
  top:384px;
  width:260px;
  height:60px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:259px;
  top:444px;
  width:260px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:259px;
  top:504px;
  width:260px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:259px;
  top:564px;
  width:260px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:259px;
  top:624px;
  width:260px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:11px;
  top:384px;
  width:248px;
  height:60px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:18px;
  width:244px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:11px;
  top:444px;
  width:248px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:11px;
  top:504px;
  width:248px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:11px;
  top:564px;
  width:248px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:11px;
  top:624px;
  width:248px;
  height:60px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:17px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:68px;
  top:118px;
  width:63px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:26px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:386px;
  top:118px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#006699;
  text-align:right;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
