body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u1 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:218px;
  top:248px;
  width:94px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:250px;
  top:367px;
  width:30px;
  height:10px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:48px;
  top:419px;
  width:440px;
  height:455px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:13px;
  width:205px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:209px;
  top:0px;
  width:226px;
  height:50px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:13px;
  width:222px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:50px;
  width:209px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:209px;
  top:50px;
  width:226px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:100px;
  width:209px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:209px;
  top:100px;
  width:226px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:150px;
  width:209px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:209px;
  top:150px;
  width:226px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:200px;
  width:209px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:209px;
  top:200px;
  width:226px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:250px;
  width:209px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:209px;
  top:250px;
  width:226px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:300px;
  width:209px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:209px;
  top:300px;
  width:226px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:350px;
  width:209px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:209px;
  top:350px;
  width:226px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:400px;
  width:209px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:209px;
  top:400px;
  width:226px;
  height:50px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:21px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:194px;
  top:302px;
  width:142px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#FF6600;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:29px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:38px;
  top:112px;
  width:145px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:165px;
  height:90px;
}
#u46 {
  position:absolute;
  left:2px;
  top:20px;
  width:141px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:192px;
  top:112px;
  width:145px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:165px;
  height:90px;
}
#u48 {
  position:absolute;
  left:2px;
  top:20px;
  width:141px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:348px;
  top:112px;
  width:145px;
  height:70px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:165px;
  height:90px;
}
#u50 {
  position:absolute;
  left:2px;
  top:20px;
  width:141px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
}
#u52 {
  position:absolute;
  left:2px;
  top:27px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:68px;
  top:30px;
  width:163px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:29px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:20px;
  top:25px;
  width:38px;
  height:38px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u56 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
