body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:1130px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u13751 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:1130px;
  display:flex;
  color:#BCBCBC;
}
#u13751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13752 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u13753 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:27px;
  width:36px;
  height:36px;
  display:flex;
}
#u13753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u13754 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:30px;
  width:92px;
  height:31px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u13754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13754_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13757 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u13757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13758 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u13758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13759 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:30px;
  width:30px;
  height:30px;
  display:flex;
}
#u13759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u13760 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:30px;
  width:1px;
  height:30px;
  display:flex;
}
#u13760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u13762 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u13762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13763 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:38px;
  width:12px;
  height:12px;
  display:flex;
}
#u13763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u13764 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u13764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13765 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:115px;
  width:322px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13765_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13766 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:126px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13766_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13767 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:182px;
  width:406px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13767_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13768 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:217px;
  width:214px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13768 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13768_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13769 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:252px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13769 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13769_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13770 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:287px;
  width:97px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13770_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13771 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:322px;
  width:97px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13771_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13772 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:449px;
  width:322px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13772_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13773 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:545px;
  width:147px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13773 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13773_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13774 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:483px;
  width:157px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13774_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13775 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:615px;
  width:94px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13775 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13775_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
}
#u13776 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:675px;
  width:117px;
  height:24px;
  display:flex;
  font-size:21px;
}
#u13776 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13776_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13777 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:615px;
  width:100px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13777 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13777_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13778 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:615px;
  width:221px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13778 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13778_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13779 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:579px;
  width:94px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13780 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:579px;
  width:100px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13780 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13780_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  text-align:right;
}
#u13781 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:579px;
  width:218px;
  height:24px;
  display:flex;
  font-size:21px;
  text-align:right;
}
#u13781 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13781_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13782 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:709px;
  width:201px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13782 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13782_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13783 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:771px;
  width:105px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13783 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13783_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13784 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:805px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13785 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:841px;
  width:289px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13785 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13785_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13786 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:875px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13786 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13786_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13787 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:911px;
  width:289px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13787_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13788 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:945px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13788 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13788_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13789 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:981px;
  width:289px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13790 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1015px;
  width:184px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13790 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13790_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:1130px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u13791 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:10px;
  width:510px;
  height:1130px;
  display:flex;
  color:#BCBCBC;
}
#u13791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13792 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:10px;
  width:510px;
  height:70px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u13793 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:27px;
  width:36px;
  height:36px;
  display:flex;
}
#u13793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u13794 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:30px;
  width:92px;
  height:31px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u13794 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13794_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13797 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u13797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13798 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u13798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13799 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:30px;
  width:30px;
  height:30px;
  display:flex;
}
#u13799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u13800 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:30px;
  width:1px;
  height:30px;
  display:flex;
}
#u13800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u13802 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u13802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13803 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:38px;
  width:12px;
  height:12px;
  display:flex;
}
#u13803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u13804 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u13804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13805 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:115px;
  width:322px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13806 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:150px;
  width:126px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13806 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13806_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13807 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:182px;
  width:406px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13807 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13808 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:217px;
  width:214px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13808_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13809 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:252px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13809_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13810 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:287px;
  width:97px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13810_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13811 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:322px;
  width:97px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13811_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13812 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:449px;
  width:322px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13813 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:545px;
  width:147px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13814 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:484px;
  width:157px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13814 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13814_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13815 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:615px;
  width:94px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
}
#u13816 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:675px;
  width:117px;
  height:24px;
  display:flex;
  font-size:21px;
}
#u13816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13817 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:615px;
  width:100px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13817 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13817_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13818 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:615px;
  width:221px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13819 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:580px;
  width:94px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13819 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13819_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13820 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:580px;
  width:100px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13820_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  text-align:right;
}
#u13821 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:580px;
  width:218px;
  height:24px;
  display:flex;
  font-size:21px;
  text-align:right;
}
#u13821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13822 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:710px;
  width:201px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13822 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13822_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13823 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:771px;
  width:105px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13823 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13823_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13824 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:806px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13824 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13824_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#FF9900;
}
#u13825 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:841px;
  width:268px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#FF9900;
}
#u13825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13826 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:876px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13827 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:911px;
  width:289px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13827_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13828 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:946px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13829 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:981px;
  width:289px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#FF9900;
}
#u13830 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1016px;
  width:239px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#FF9900;
}
#u13830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13830_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13831 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:357px;
  width:223px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13832 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:392px;
  width:232px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13833 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:357px;
  width:223px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13834 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:392px;
  width:232px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13834 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13834_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
