body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:560px;
  top:10px;
  width:510px;
  height:950px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u1 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:560px;
  top:10px;
  width:510px;
  height:11px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:11px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:585px;
  top:110px;
  width:460px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1007px;
  top:134px;
  width:23px;
  height:23px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:612px;
  top:133px;
  width:191px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1110px;
  top:10px;
  width:510px;
  height:950px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u11 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1110px;
  top:10px;
  width:510px;
  height:11px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:11px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-2px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1135px;
  top:110px;
  width:460px;
  height:70px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1557px;
  top:134px;
  width:23px;
  height:23px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1162px;
  top:133px;
  width:235px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1322px;
  top:497px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#949494;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:585px;
  top:334px;
  width:460px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
#u23 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u24 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:11px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:11px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-2px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:35px;
  top:50px;
  width:405px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:425px;
  height:70px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:400px;
  top:64px;
  width:23px;
  height:23px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:62px;
  top:63px;
  width:39px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:35px;
  top:162px;
  width:80px;
  height:80px;
}
#u33_img {
  position:absolute;
  left:-7px;
  top:-7px;
  width:100px;
  height:100px;
}
#u34 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:125px;
  top:173px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:125px;
  top:211px;
  width:143px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#A1A1A1;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:35px;
  top:256px;
  width:460px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
#u40 {
  position:absolute;
  left:585px;
  top:240px;
  width:80px;
  height:80px;
}
#u40_img {
  position:absolute;
  left:-7px;
  top:-7px;
  width:100px;
  height:100px;
}
#u41 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:675px;
  top:251px;
  width:84px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:675px;
  top:289px;
  width:143px;
  height:22px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:17px;
  color:#A1A1A1;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:600px;
  top:250px;
  width:50px;
  height:60px;
}
#u46_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:60px;
  height:70px;
}
#u47 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:50px;
  top:172px;
  width:50px;
  height:60px;
}
#u48_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:60px;
  height:70px;
}
#u49 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:456px;
  top:63px;
  width:39px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#FF9900;
  text-align:right;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:585px;
  top:50px;
  width:405px;
  height:50px;
}
#u52_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:425px;
  height:70px;
}
#u53 {
  position:absolute;
  left:2px;
  top:17px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:950px;
  top:64px;
  width:23px;
  height:23px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:612px;
  top:63px;
  width:39px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1006px;
  top:63px;
  width:39px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#FF9900;
  text-align:right;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1135px;
  top:50px;
  width:405px;
  height:50px;
}
#u60_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:425px;
  height:70px;
}
#u61 {
  position:absolute;
  left:2px;
  top:17px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1500px;
  top:64px;
  width:23px;
  height:23px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1162px;
  top:63px;
  width:39px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:1556px;
  top:63px;
  width:39px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#FF9900;
  text-align:right;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
