body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:1100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:1100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:542px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:151px;
  top:134px;
  width:230px;
  height:26px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:21px;
  color:#000000;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:26px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:180px;
  top:190px;
  width:169px;
  height:44px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:37px;
  color:#FF9900;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:44px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:246px;
  top:234px;
  width:35px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#0D0D0D;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:248px;
  top:284px;
  width:30px;
  height:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:167px;
  top:746px;
  width:193px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:199px;
  top:803px;
  width:122px;
  height:31px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:242px;
  top:834px;
  width:35px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#0D0D0D;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:82px;
  top:539px;
  width:366px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:126px;
  top:602px;
  width:280px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:110px;
  top:625px;
  width:310px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u21 {
  position:absolute;
  left:180px;
  top:324px;
  width:174px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:74px;
  top:361px;
  width:387px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:161px;
  top:400px;
  width:212px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:104px;
  top:634px;
  width:327px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#A1A1A1;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:244px;
  top:890px;
  width:30px;
  height:10px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:248px;
  top:494px;
  width:30px;
  height:10px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:58px;
  top:434px;
  width:415px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:24px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:250px;
  top:697px;
  width:30px;
  height:10px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:159px;
  top:938px;
  width:212px;
  height:24px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:19px;
  color:#000000;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:24px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:201px;
  top:995px;
  width:122px;
  height:31px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:244px;
  top:1026px;
  width:35px;
  height:23px;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-size:19px;
  color:#0D0D0D;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
}
#u44 {
  position:absolute;
  left:2px;
  top:27px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:68px;
  top:30px;
  width:163px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:29px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:20px;
  top:25px;
  width:38px;
  height:38px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u48 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:350px;
  top:30px;
  width:140px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#006699;
  text-align:right;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
