body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
}
#u1 {
  position:absolute;
  left:2px;
  top:467px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:75px;
  top:250px;
  width:155px;
  height:230px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:230px;
}
#u3 {
  position:absolute;
  left:2px;
  top:107px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:340px;
  width:370px;
  height:75px;
  font-size:21px;
}
#u4_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:390px;
  height:95px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:80px;
  top:465px;
  width:370px;
  height:75px;
  font-size:21px;
}
#u6_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:390px;
  height:95px;
}
#u7 {
  position:absolute;
  left:2px;
  top:30px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:219px;
  top:625px;
  width:300px;
  height:205px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:205px;
}
#u9 {
  position:absolute;
  left:2px;
  top:94px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:312px;
  top:90px;
  width:84px;
  height:125px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:125px;
}
#u11 {
  position:absolute;
  left:2px;
  top:54px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:142px;
  top:366px;
  width:123px;
  height:24px;
  font-size:19px;
  color:#6B6B6B;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:294px;
  top:363px;
  width:94px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#6B6B6B;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:273px;
  top:372px;
  width:11px;
  height:11px;
}
#u16_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:31px;
  height:31px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:140px;
  top:491px;
  width:123px;
  height:24px;
  font-size:19px;
  color:#6B6B6B;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:294px;
  top:488px;
  width:94px;
  height:29px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:23px;
  color:#6B6B6B;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:273px;
  top:497px;
  width:11px;
  height:11px;
}
#u22_img {
  position:absolute;
  left:-10px;
  top:-9px;
  width:31px;
  height:31px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:885px;
  width:510px;
  height:75px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:75px;
}
#u25 {
  position:absolute;
  left:2px;
  top:30px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:439px;
  top:896px;
  width:35px;
  height:35px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:312px;
  top:896px;
  width:35px;
  height:35px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:441px;
  top:930px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#BCBCBC;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:314px;
  top:930px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#BCBCBC;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:65px;
  top:930px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:41px;
  height:29px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:63px;
  top:896px;
  width:35px;
  height:35px;
}
#u36_img {
  position:absolute;
  left:-7px;
  top:-7px;
  width:55px;
  height:55px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:170px;
  top:905px;
  width:50px;
  height:35px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
