body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u11167 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
  display:flex;
  color:#BCBCBC;
}
#u11167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#FF9900;
}
#u11168 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:110px;
  width:124px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#FF9900;
}
#u11168 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11168_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11169 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u11170 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:27px;
  width:36px;
  height:36px;
  display:flex;
}
#u11170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u11171 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:30px;
  width:92px;
  height:31px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u11171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11171_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11174 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u11174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11175 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u11175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11176 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:30px;
  width:30px;
  height:30px;
  display:flex;
}
#u11176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u11177 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:30px;
  width:1px;
  height:30px;
  display:flex;
}
#u11177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u11179 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u11179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11180 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:38px;
  width:12px;
  height:12px;
  display:flex;
}
#u11180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u11181 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u11181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11182 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:145px;
  width:152px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11182_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11183 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:180px;
  width:332px;
  height:28px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
}
#u11184 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:660px;
  width:68px;
  height:24px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
}
#u11184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11185 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:500px;
  width:159px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11185_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11186 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:535px;
  width:170px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11186_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11187 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:610px;
  width:168px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FF9900;
}
#u11188 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:660px;
  width:68px;
  height:24px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FF9900;
}
#u11188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11188_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11189 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:250px;
  width:318px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11189_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
}
#u11190 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:355px;
  width:84px;
  height:28px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#BCBCBC;
}
#u11190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11190_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11191 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:392px;
  width:396px;
  height:28px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11191_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
}
#u11192 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:285px;
  width:409px;
  height:24px;
  display:flex;
  font-size:21px;
}
#u11192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11192_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11193 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:320px;
  width:99px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11193_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
}
#u11194 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:429px;
  width:220px;
  height:28px;
  display:flex;
  font-size:21px;
}
#u11194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11194_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u11195 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:715px;
  width:205px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u11195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11195_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
