body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:950px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u6418 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:950px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u6418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
  background:inherit;
  background-color:rgba(236, 236, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6419 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
  display:flex;
}
#u6419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u6420 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:29px;
  width:46px;
  height:31px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u6420 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6420_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u6421 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:38px;
  height:38px;
  display:flex;
}
#u6421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u6422 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:275px;
  width:260px;
  height:60px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u6422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u6423 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:335px;
  width:260px;
  height:60px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u6423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u6424 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:395px;
  width:260px;
  height:60px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u6424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u6425 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:455px;
  width:260px;
  height:60px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u6425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u6426 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:515px;
  width:260px;
  height:60px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u6426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u6427 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:275px;
  width:248px;
  height:60px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u6427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
#u6428 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:335px;
  width:248px;
  height:60px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
#u6428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
#u6429 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:395px;
  width:248px;
  height:60px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
#u6429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
#u6430 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:455px;
  width:248px;
  height:60px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
#u6430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
#u6431 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:515px;
  width:248px;
  height:60px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
#u6431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6432_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:510px;
  height:195px;
}
#u6432 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:490px;
  height:175px;
  display:flex;
}
#u6432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u6433 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:119px;
  width:126px;
  height:28px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u6433 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6433_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u6434 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:156px;
  width:222px;
  height:42px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u6434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6434_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u6435 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:210px;
  width:26px;
  height:24px;
  display:flex;
  font-family:'Bahnschrift Regular', 'Bahnschrift';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0D0D0D;
  text-align:center;
}
#u6435 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6435_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
