body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:1000px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u13671 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:1000px;
  display:flex;
  color:#BCBCBC;
}
#u13671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13672 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:510px;
  height:70px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u13673 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:27px;
  width:36px;
  height:36px;
  display:flex;
}
#u13673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u13674 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:30px;
  width:92px;
  height:31px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u13674 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13674_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13677 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u13677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13678 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u13678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13679 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:30px;
  width:30px;
  height:30px;
  display:flex;
}
#u13679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u13680 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:30px;
  width:1px;
  height:30px;
  display:flex;
}
#u13680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u13682 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u13682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13683 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:38px;
  width:12px;
  height:12px;
  display:flex;
}
#u13683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u13684 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u13684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13685 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:115px;
  width:322px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13685_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13686 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:126px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13686 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13686_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13687 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:182px;
  width:406px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13687_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13688 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:217px;
  width:214px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13688 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13688_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13689 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:252px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13689 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13689_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13690 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:287px;
  width:97px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13690 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13690_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13691 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:322px;
  width:97px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13691 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13691_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13692 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:378px;
  width:322px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13692 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13692_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13693 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:474px;
  width:147px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13693 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13693_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13694 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:413px;
  width:157px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13694_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13695 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:544px;
  width:94px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13695_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
}
#u13696 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:604px;
  width:117px;
  height:24px;
  display:flex;
  font-size:21px;
}
#u13696 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13696_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13697 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:544px;
  width:100px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13697 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13697_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13698 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:544px;
  width:221px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13698 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13698_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13699 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:509px;
  width:94px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13699 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13699_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13700 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:509px;
  width:100px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13700 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13700_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  text-align:right;
}
#u13701 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:509px;
  width:218px;
  height:24px;
  display:flex;
  font-size:21px;
  text-align:right;
}
#u13701 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13701_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13702 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:639px;
  width:201px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13702 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13702_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13703 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:700px;
  width:105px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13703 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13703_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13704 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:735px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13704 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13704_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13705 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:770px;
  width:289px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13705 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13705_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13706 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:805px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13706 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13706_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13707 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:840px;
  width:289px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13707 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13707_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13708 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:875px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13708 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13708_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13709 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:910px;
  width:289px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13709 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13709_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13710 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:945px;
  width:184px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13710 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13710_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:1000px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u13711 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:10px;
  width:510px;
  height:1000px;
  display:flex;
  color:#BCBCBC;
}
#u13711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:70px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13712 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:10px;
  width:510px;
  height:70px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u13713 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:27px;
  width:36px;
  height:36px;
  display:flex;
}
#u13713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u13714 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:30px;
  width:92px;
  height:31px;
  display:flex;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u13714 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13714_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13717 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u13717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13718 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:22px;
  width:75px;
  height:45px;
  display:flex;
}
#u13718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13719 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:30px;
  width:30px;
  height:30px;
  display:flex;
}
#u13719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u13720 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:30px;
  width:1px;
  height:30px;
  display:flex;
}
#u13720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u13722 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u13722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13723 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:38px;
  width:12px;
  height:12px;
  display:flex;
}
#u13723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u13724 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:41px;
  width:7px;
  height:7px;
  display:flex;
}
#u13724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13725 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:115px;
  width:322px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13725_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13726 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:150px;
  width:126px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13726_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13727 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:182px;
  width:406px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13727_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13728 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:217px;
  width:214px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13729 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:252px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13729_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13730 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:287px;
  width:97px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13730_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13731 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:322px;
  width:97px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13731 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13731_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13732 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:378px;
  width:322px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13732_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13733 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:474px;
  width:147px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13733_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13734 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:413px;
  width:157px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13734_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13735 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:544px;
  width:94px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13735 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13735_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
}
#u13736 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:604px;
  width:117px;
  height:24px;
  display:flex;
  font-size:21px;
}
#u13736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13736_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13737 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:544px;
  width:100px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13737_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13738 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:544px;
  width:221px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13738_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13739 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:509px;
  width:94px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13739_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13740 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:509px;
  width:100px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
  text-align:right;
}
#u13740 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13740_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  text-align:right;
}
#u13741 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:509px;
  width:218px;
  height:24px;
  display:flex;
  font-size:21px;
  text-align:right;
}
#u13741 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13741_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13742 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:639px;
  width:201px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13742_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13743 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:700px;
  width:105px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13743 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13743_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13744 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:735px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13744 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13744_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#FF9900;
}
#u13745 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:770px;
  width:268px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#FF9900;
}
#u13745 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13745_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13746 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:805px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13746_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13747 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:840px;
  width:289px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13747_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13748 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:875px;
  width:107px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13748 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13748_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#BCBCBC;
}
#u13749 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:910px;
  width:289px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#BCBCBC;
}
#u13749 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13749_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#FF9900;
}
#u13750 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:945px;
  width:184px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#FF9900;
}
#u13750 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13750_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
